<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link src="/static/bulma.css"/>
</head>
<style>
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .links {
        display: flex;
        flex-direction: column;
    }
</style>
<body>
<section class="section">
<h1 class="title">Dependency Mapper Development Setup</h1>
<div class="links">
    <a href="/">Web App</a>
    <a href="/api/">API root</a>
    <a href="/api/coverage/">API test coverage</a> (if not not found run tests first)
    <a href="https://github.com/tvaisanen/dependencymapping/">Github repository</a>
    <a href="http://localhost:8081/">Document API</a>
</div>
</section>
</body>
</html>